version: '3.9'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: argon-dashboard-frontend
    ports:
      - "3001:3001"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=development
      - PORT=3001
      - GENERATE_SOURCEMAP=false
      - REACT_APP_API_URL=http://181.114.111.21:3000
    command: npm start
    stdin_open: true
    tty: true
